@import '../../../styles/breakpoints.scss';

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .5s;
}

@media screen and (min-width: $breakpoint-5) {
  .container {
    transform: translate(-50%, -100%);
  }
}
