@import '../../styles/breakpoints.scss';
@import '../../components/Menu/styles/Header.scss';
@import '../../components/Menu/styles/Pulldown.scss';

.viewBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background: #6b7725;
}

.mainContainer {
  position: absolute;
  top: $header-height;
  left: 0;
  min-height: calc(100% - #{$header-height});
  width: 100%;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .5s;
}

@media screen and (min-width: $breakpoint-2) {
  $left-margin: #{$margin*2px + $logo-width};

  .mainContainer {
    top: 0;
    left: $left-margin;
    height: 100%;
    width: calc(100% - #{$left-margin});
  }
}
