@import '../../../styles/breakpoints.scss';
@import '../../../components/Menu/styles/Pulldown.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.projectContainer {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.title {
  margin: 20px;
}

.imageWrap {
  max-width: 100%;
}

.imageWrap img {
  width: 100%;

  box-shadow: 0 0 10px black;
}

.linksContainer {
  height: 40px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  * {
    color: white;
    text-decoration: none;
  }
}

.siteLink {
  border: 1px solid rgba(#FFF, 0);
  transition: border .8s;

  &:hover {
    border-bottom: 1px solid white;
  }
}

.githubLogoContainer, .githubLogoContainer svg {
  height: 30px;
  width: auto;

  border-radius: 50%;
  transition: box-shadow .5s;
  &:hover {
    box-shadow: 0 0 5px white;
  }
}

.githubLogoContainer svg * {
  fill: white;
}

.description {
  color: white;
  text-align: justify;
  line-height: 1.6;
}

.stackRule {
  width: 100%;
}

.stackContainer {
  width: 100%;
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: $breakpoint-1) {
  .linksContainer {
    margin: 15px 0 0;
  }
}

@media screen and (min-width: $breakpoint-2) {
  .projectContainer {
    width: calc(100% - #{$logo-width + $margin*4 + 0px});
    margin-top: #{$margin + $logo-height + 0px};
  }

  .title {
    margin: 0 0 80px;
  }

  .linksContainer, .description, .stackRule, .stackContainer {
    width: 90%;
  }

  .linksContainer {
    margin: 40px 0 30px;
  }

  .siteLink {
    font-size: 18px;
  }

  .githubLogoContainer, .githubLogoContainer svg {
    height: 40px;
    width: 40px;
  }

}

@media screen and (min-width: $breakpoint-3) {
  .projectContainer {
    width: 840px;
  }

  // ???
  .stackContainer {
    margin: 100px;
  }
}

@media screen and (min-width: $breakpoint-4) {
  .title {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: $breakpoint-5) {

  .siteLink {
    font-size: 22px;
  }

  .description {
    font-size: 20px;
  }
}
