/* I don't know why I have to do this */
@import '../../../styles/colors';

.header {
  height: 80px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-family: 'Lato', Arial;
}

/*
  TODO: Replace border with ::after element that can be animated
  with keyframes
*/
.headerLink {
  color: $inactive-link-color;
  stroke: $inactive-link-color;
  text-decoration: none;
  border: 1px solid rgba($active-link-color, 0);

  transition: all .5s;

  &.activeRoute, .activeRoute * {
    color: white;
    stroke: $active-link-color;
    border-bottom: 1px solid $active-link-color;
  }
}

.logoContainer {
  $height: 40px;
  height: $height;
  width: $height*7/6;

  * {
    height: 100%;
    width: 100%;
  }
}

.textLink {
  padding: 10px 0;
}

// ----------------------------------------------------------------------------
// React css transitions
// ----------------------------------------------------------------------------

// Stagger fade in of .header's children
.appear *, .enter * {
  opacity: 0;
}
@for $i from 1 through 4 {
  .appearActive .headerLink:nth-of-type(#{$i}) {
    opacity: 1;
    transition: opacity 250ms ease-in-out #{250*($i - 1)}ms;
    * {
      opacity: 1;
    }
  }
  .enterActive .headerLink:nth-of-type(#{$i}) {
    opacity: 1;
    transition: opacity 250ms ease-in-out #{250*($i - 1) + 500}ms;
    * {
      opacity: 1;
    }
  }
}

.leave {
  opacity: 1;
}

@for $i from 1 through 4 {
  .leaveActive .headerLink:nth-of-type(#{$i}) {
    opacity: 0;
    transition: opacity 250ms ease-in-out #{250*($i - 1)}ms;
    * {
      opacity: 0;
    }
  }
}
