/* I don't know why I have to do this */
@import '../../../styles/colors.scss';

$margin: 20;
$logo-height: 60;
$logo-width: $logo-height*7/6;

.logo {
  position: fixed;
  z-index: 3;
  top: $margin + 0px;
  left: $margin + 0px;
  height: $logo-height + 0px;
  width: $logo-width + 0px;

  cursor: pointer;

  background: $lightgray;
  border: 1px solid $active-link-color;

  color: white;
  stroke: white;

  * {
    height: 100%;
    width: 100%;
  }
}

.linkContainer {
  position: fixed;
  z-index: 2;
  height: 160px;
  top: $margin*2 + $logo-height + 0px;
  left: $margin + 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  visibility: hidden;
  transition: visibility 0s 3s;

  &.active {
    visibility: visible;
    transition: visibility 0s 0s;
  }
}

.link {
  position: relative;

  * {
    transition: color ease-in-out 500ms;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 4px;
    display: inline;
    height: calc(100% - 3px);
    width: 100%;
    background: white;

    transition: transform ease-in-out 500ms;
    transform: rotateY(-90deg);
  }

  &.activeRoute.active {

    * {
      color: black;
    }

    &::before {
      transform: none;
    }
  }

}

// ----------------------------------------------------------------------------
// React css transitions
// ----------------------------------------------------------------------------

.appear .logo {
  opacity: 0;
}

.appearActive .logo {
  opacity: 1;
  transition: opacity 2s ease-in-out 0s;
  animation: fadeIn 2s forwards;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 250ms ease-in-out 1s;
}

.leave {
  opacity: 1;
}

.leaveActive {
  opacity: 0;
  transition: opacity 250ms ease-in-out 0s;
}

// ----------------------------------------------------------------------------
// Keyframes
// ----------------------------------------------------------------------------

@keyframes fadeIn {
  0% {
    transform: translateY(50px);
  },
  100% {
    transform: translateY(0);
  }
}
