@import '../../../../styles/breakpoints.scss';
@import '../../../../components/Menu/styles/Pulldown.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectContainer {
  height: 225px;
  width: 300px;

  box-sizing: padding-box;
  margin: 20px 50px;
  padding: 10px;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s, box-shadow 1s, background 1s, border 1s;

  text-decoration: none;

  hr {
    color: white;
  }

  img, span {
    width: 100%;
  }

  &.active {
    opacity: 1;
    transform: none;
  }

  &:hover {
    border: 1px solid white;
    background: rgba(#FFF, .2);
    box-shadow: 0 0 10px 2px $lightgray;
  }

}

.description {
  color: white;
}

@media screen and (min-width: $breakpoint-1) {
  .projectContainer {
    height: 250px;
  }
}

@media screen and (min-width: $breakpoint-2) {

  .container {
    $margin-top: #{$margin + $logo-height + 0px};
    margin-top: $margin-top;
    height: calc(100% - #{$margin-top});
  }

  .projectContainer {
    height: 280px;
    width: 350px;
  }

}

@media screen and (min-width: $breakpoint-3) {

  .projectContainer {
    height: 310px;
  }

  .description {
    font-size: 18px;
  }

}

@media screen and (min-width: $breakpoint-5) {

  .container {
    width: 80%;
    margin-left: 10%;
  }

}
