@import '../../styles/breakpoints.scss';
@import '../../components/Menu/styles/Pulldown.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textContainer {
  width: 250px;

  transition: width 1s;
}

.title {
  margin: 20px 0 30px;
  text-align: center;
}

.body {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;

  font-style: Lato, Arial;
  color: white;
  text-align: justify;
  line-height: 1.5;

  &:last-of-type {
    margin-bottom: $margin + 0px;
  }
}

.showParagraph {
  opacity: 1;
  transform: none;
}

@media screen and (min-width: $breakpoint-1) {
  .textContainer {
    width: 300px;
  }

  .body {
    font-size: 18px;
  }
}

@media screen and (min-width: $breakpoint-2) {
  .textContainer {
    width: 480px;
    margin-top: #{$margin + $logo-height + 0px};
  }

  .title {
    margin-top: 0;
  }

  .body {
    font-size: 20px;
  }
}

@media screen and (min-width: $breakpoint-3) {
  .textContainer {
    width: 650px;
  }
}

@media screen and (min-width: $breakpoint-5) {
  .textContainer {
    width: 900px;
    margin-top: #{$margin*2 + $logo-height + 0px};
  }

  .body {
    font-size: 22px;
  }
}
