@import '../../styles/breakpoints.scss';

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: radial-gradient(circle, #222, #0E0E0E);
}

.viewContainer {
  min-height: 100%;
  width: 100%;
}

// ----------------------------------------------------------------------------
// React css transitions for views
// ----------------------------------------------------------------------------

// Animation for Header Menu layout
.enter {
  opacity: 0;
  transition: opacity 1.5s;
}

.enterActive {
  opacity: 1;
}

.leave {
  opacity: 1;
  transition: opacity 1.5s;
}

.leaveActive {
  opacity: 0;
}

// Animation for Pulldown Menu layout

@media screen and (min-width: $breakpoint-2) {
  .enter {

  }

  .enterActive {

  }

  .leave {

  }

  .leaveActive {

  }
}
