@import '../../styles/breakpoints.scss';

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;

  background: black;
}

.viewContainer {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

// ----------------------------------------------------------------------------
// React css transitions for views
// ----------------------------------------------------------------------------

// Animation for Header Menu layout
.enter > main {
  opacity: 0;
  transition: opacity 1s 1s;
}

.enterActive > main {
  opacity: 1;
}

.leave {
  overflow: hidden;
}

.leave > main {
  transition: opacity ease-in 1s
}

.leaveActive > main {
  opacity: 0;
}

.leaveActive > div {
  opacity: 0;
}
