@import '../../components/Menu/styles/Header.scss';

.container {
  min-height: 100%;
  background: radial-gradient(circle, #222, #0E0E0E);
}

.mainContainer {
  position: absolute;
  top: $header-height;
  left: 0;
  height: calc(100% - #{$header-height});
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
