.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 136px;
  width: 90px;

  margin: 10px;
}

.image {
  height: 70px;
  width: 70px;

  border-radius: 3px;
  padding: 5px;
  background: rgba(#FFF, .35);
  box-shadow: 0 0 5px #AAA;

  * {
    height: 100%;
    width: 100%;
  }
}

.title {
  text-align: center;
  margin-bottom: 0;
}
